<% provide(:title, t("view.static_pages.contact.contact")) %>
<h1><%= t("view.static_pages.contact.contact")%></h1>
<p>
  <%= t("view.static_pages.contact.contact_ruby_on_rails") %>
  <%= link_to t("view.static_pages.contact.contact_page"), "http://www.railstutorial.org/contact" %>.
</p>
